{% extends 'AppProyecto1/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}

<h2>Las personas encargadas de este sitio son:</h>
<p></p>


<div class="container">
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <a href="#!"><img class="card-img-top rounded-circle" src="https://avatars.githubusercontent.com/u/97198953?v=4" alt="..." /></a>
                <div class="card-body">
                    <h2 class="card-title h4">Martín Bonnefoy Valdés</h2>
                    <p class="card-text italic"></p>
                    <a class="btn btn-dark btn-sm" href="https://github.com/mbonnef">Perfil de GitHub</a>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-4">
                <a href="#!"><img class="card-img-top rounded-circle" src="https://avatars.githubusercontent.com/u/97198949?v=4" alt="..." /></a>
                <div class="card-body">
                    <h2 class="card-title h4">Martía Guadalupe Casas</h2>
                    <a class="btn btn-dark btn-sm" href="https://github.com/MGC07">Perfil de GitHub</a>

                </div>
            </div>
        </div>

        <div class="col">
        <div class="card mb-4">
                <a href="#!"><img class="card-img-top rounded-circle" src="https://avatars.githubusercontent.com/u/96503612?v=4" alt="..." /></a>
                <div class="card-body">
                    <h2 class="card-title h4">María Florencia Mendoza</h2>
                    <a class="btn btn-dark btn-sm" href="https://github.com/FlorMendoza87">Perfil de GitHub</a>

                </div>
            </div>
        </div>

    </div>
</div>

{% endblock contenidoQueCambia %}