{% extends 'AppProyecto1/padre.html' %}
{% load static %}
{% load group %}
{% block contenidoQueCambia %}

<div class="container">
    <div class="row">
        <a class="btn btn-info btn-lg btn-block mb-4" href="{% url 'BlogNew' %}">Crear un blog nuevo</a>


    {% if object_list %}
        {% for blog in object_list %}

        <div class="col-6 mb-1">
            
            <div class="card mb-4">
                {% if blog.imagen %}
                <a href="{% url 'BlogDetail' blog.id %}"><img class="card-img-top" src="{{blog.imagen.url}}" alt="..." /></a>
                {% else %}
                <a href="{% url 'BlogDetail' blog.id %}"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                {% endif %}

                <div class="card-body">
                    <h2 class="card-title h4" href="{% url 'BlogDetail' blog.id %}">{{blog.title}}</h2>
                    <p class="card-text italic">{{blog.subtitle}}</p>
                    
                    <div class="dropdown show">
                        <a class="btn dropdown-toggle btn-sm btn-info" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'BlogDetail' blog.id %}">Leer</a>
                            <div class="dropdown-divider"></div>

                            {% if user|has_group:'Admin' %}
                            <a class="dropdown-item" href="{% url 'BlogEdit' blog.id %}">Editar</a>
                            <a class="dropdown-item" href="{% url 'BlogDelete' blog.id %}">Eliminar</a>
                            {% else %}
                            <a class="dropdown-item font-italic">(Para editar necesitas tener permisos de administrador)</a>
                            {% endif %}

                        </div>
                    </div>
                    
                    <!-- <a class="btn btn-outline-warning btn-sm" href="{% url 'BlogEdit' blog.id %}">Editar</a> -->
                    <!-- <a class="btn btn-outline-danger btn-sm" href="{% url 'BlogDelete' blog.id %}">Borrar</a> -->

                    <!-- Botón original -->
                    <!-- <a class="btn btn-primary" href="{% url 'BlogDetail' blog.id %}" role="button">Ver</button> -->
                </div>
            </div>
        </div>
        {% endfor %}

    {% else %}
        <h2>No hay blogs para esta categoría/criterio.</p>

    {% endif %}
    </div>
</div>

{% endblock contenidoQueCambia %}