{% extends 'AppProyecto1/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}

<!-- <div class="card" style="width: 18rem;"> -->
<div class="card">
    <img src="https://dummyimage.com/1400x700/505050/ffffff.jpg&text=(imagen+de+blog)" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title fw-bold fs-2">{{blog.title}}</h5>
        <p class="card-text fst-italic">{{blog.subtitle}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{blog.body}}</li>
        <!-- <li class="list-group-item">A second item</li> -->
        <!-- <li class="list-group-item">A third item</li> -->
    </ul>
    <div class="card-body">
        <!-- <a href="#" class="card-link">Card link</a> -->
        <!-- <a href="#" class="card-link">Another link</a> -->
        <p>Etiquetas de este blog:</p>
        
        {% for tag in blogtags %}

        <!-- <p>{{tag.name}}</p> -->

            <!-- <div class="col-sm-4" mb-2> -->

                <a class="btn btn-outline-info btn mb-3" href="{% url 'BlogTagLista' tag.id %}" role="button" text-nowrap>{{tag.name}}</a>
            
                <!-- </div> -->

            
        {% endfor %}
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <p>Comentarios:</p>

            {% for comment in blogcomments %}
            <li class="list-group-item">
            <p>-> {{comment.text}} <a href="{% url 'CommentDelete' comment.id %}"><i>(Borrar comentario)</i></a></p>
            </li>
            {% endfor %}

            <li class="list-group-item">
                <a href="{% url 'CommentNew' blog.id %}">Agregar un comentario</a>

            </li>


        </li>
    </ul>
</div>

    <!-- <p>Nombre del Blog : <i>{{blog.title}}</i></p> -->
    <!-- <p>Subtitulo : <i>{{blog.subtitle}}</i> </p> -->
    <!-- <p>Cuerpo : <i>{{blog.body}}</i> </p> -->
    <!-- <p> tags </p> -->
    <!-- {% for tag in blog.tag.all %} -->
        <!-- <p>{{tag.name }}</p> -->
    <!-- {% endfor %} -->
    <p>
        <!-- <a href="{% url 'CommentList' blog.id %}">Comentarios</a> -->
        <!-- <a href="{% url 'BlogList' %}">Regresar</a> -->
    </p>

    <!-- <input class="btn btn-info mb-2" href="{% url 'BlogList' %}" value="Regresar"> -->
    <a class="btn btn-info" href="{% url 'BlogList' %}" role="button" mb-10>Regresar</a>
    <p></p>



{% endblock contenidoQueCambia %}
