<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Blogs</title>
</head>
<body>

<h1>Esta es la lista de Blog Publicados</h1>

<ul>

    {% for blog in object_list %}
    
        <li>        
            <p>Nombre: {{blog.title}}</p> 
            <p>    
                <a href="{% url 'Detail' blog.id %}">Ver</a>|       
                <a href="{% url 'Edit' blog.id %}">Editar</a>|
                <a href="{% url 'Delete' blog.id %}">Borrar</a>
            </p> 
        </li>
    {% endfor %}

</ul>


<a href="{% url 'New' %}">Nuevo</a>

</body>

</html>