{% extends 'AppProyecto1/padre.html' %}
{% load static %}
    
{% block contenidoQueCambia %}
    <h2>Éstos son los blogs disponibles:</h><br><br><br>

{% for blog in blogs %}  
    


    <div class="container">
        <div class="row">
            <div class="col-lg-3">

                <div class="card mb-4">
                    <!-- <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a> -->
                    <a href="{% url 'ShowBlog' blog.id %}"><img class="card-img-top" src="https://res.cloudinary.com/hdsqazxtw/image/upload/v1600707758/coderhouse-logo.png" alt="..." /></a>

                    <div class="card-body">
                        <!-- <div class="small text-muted">January 1, 2021</div> -->
                        <h2 class="card-title h4">Título: {{ blog.title }}</h2>
                        <h5><div class="small text-muted">Subtítulo: {{ blog.subtitle }}</div></h3>
                        <!-- <p class="card-text">Body: {{ blog.body }}</p> -->
                        <a class="btn btn-primary" href="{% url 'ShowBlog' blog.id %}">Leer más →</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endfor %}

{% endblock contenidoQueCambia %}