{% extends 'AppProyecto1/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}

<!-- <div class="col-lg-8"> -->

    <!-- <div class="row"> -->
        <!-- <div class="col-lg-6"> -->

            <!-- Blog post-->
            
            <!-- <div class="container"> -->
            <!-- <div class="col-13"> -->
                
            <!-- </div> -->
            <!-- </div> -->

            <div class="container">
                
                
                
                
                
                <div class="row">
                    <a class="btn btn-info btn-lg btn-block" href="{% url 'BlogNew' %}">Crear un blog nuevo</a>
                    <p></p>
                    <br>

            {% for blog in object_list %}            
            <div class="col-6">
                <div class="card mb-4">
                    <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                    <div class="card-body">
                            <!-- <div class="small text-muted">January 1, 2021</div> -->
                            <!-- el anterior es para la la fecha (un primer texto en gris) -->
                        <h2 class="card-title h4">{{blog.title}}</h2>
                        <p class="card-text italic">{{blog.subtitle}}</p>
                        <a class="btn btn-dark btn-sm" href="{% url 'BlogDetail' blog.id %}">Leer -></a>
                        <a class="btn btn-outline-warning btn-sm" href="{% url 'BlogEdit' blog.id %}">Editar</a>
                        <a class="btn btn-outline-danger btn-sm" href="{% url 'BlogDelete' blog.id %}">Borrar</a>
                        <!-- Botón original -->
                        <!-- <a class="btn btn-primary" href="{% url 'BlogDetail' blog.id %}" role="button">Ver</button> -->
                    </div>
                </div>
            </div>
            {% endfor %}

                </div>
            </div>

            <!-- <div class="col-lg-6">
                <p>a</p> -->
        <!-- </div> -->
    <!-- </div> -->

<!-- </div>                             -->




{% endblock contenidoQueCambia %}