{% extends 'AppProyecto1/padre.html' %}
{% load static %}

<h3>Estos son los resultados que contienen : "{{titulo}}" en el título del blog: </p>
    
{% block contenidoQueCambia %}
  {% if blogs %}
  {% for blog in blogs %}
    <div class="container">
      <div class="row">
        <div class="col-lg-3">      
      <div class="card mb-4">
        <a href="#!"><img class="card-img-top" src="https://res.cloudinary.com/hdsqazxtw/image/upload/v1600707758/coderhouse-logo.png" alt="..." /></a>
          <div class="card-body">
          <!-- <div class="small text-muted">January 1, 2021</div> -->
          <h2 class="card-title h4">Título: {{ blog.title }}</h2>
          <div class="small text-muted">Subtítulo: {{ blog.subtitle }}</div>
          <p class="card-text">Body: {{ blog.body }}</p>
          <!-- <a class="btn btn-primary" href="#!">Leer más →</a> -->
          </div>
      </div>
    </div>
  </div>
</div>
  {% endfor %}
  {% else %}
  <h2>No hay datos con esa descripción</p>

  {% endif %}

{% endblock contenidoQueCambia %}