{% extends 'AppProyecto1/padre.html' %}
{% load static %}

{% block pruebaBlock %}

<p>Cambio</p>

{% endblock pruebaBlock %}


{% block contenidoQueCambia %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="text-center">
                <p>¡Bienvenido/a a este blog {{ user.username }}!</p>
                <img height="100px" src="{{url}}">
                <p>Si quieres acceder al código fuente de él, puedes clickear <a href="https://github.com/MGC07/Grupo-1">aquí</href>.</p>
            </div>
        </div>
    </div>
</div>

{% endblock contenidoQueCambia %}

