{% extends 'AppProyecto1/padre.html' %}
{% load static %}

{% block contenidoQueCambia %}

<div class="container">
    <div class="row">
        <div class="col-6">

            {% if request.user.is_authenticated %}
            
            <p>¡Bienvenido/a a este blog {{ user.username }}!</p>
            <img height="100px" src="{{url}}">
            <p>Si quieres acceder al código fuente de él, puedes clickear <a href="https://github.com/MGC07/Grupo-1">aquí</a>.</p>

            {% elif confirmacion %}
                <p>¡El usuario se creó con éxito! ahora puedes <a href="{% url 'Login' %}">iniciar sesión</a>.</p>

            {% else %}
                <p>¡El usuario ingresado no existe! revisa los datos e intenta denuevo <a href="{% url 'Login' %}">iniciado sesión</a> o <a href="{% url 'Register' %}">registrándote</a>.</p>

            {% endif %}
        </div>
    </div>
</div>

{% endblock contenidoQueCambia %}

