<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Entrega Intermedia del Proyecto Final - Grupo 1</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'AppProyecto1/assets/favicon.ico' %}"
        <!-- Core theme CSS (includes Bootstrap) -->
        <link href="{% static 'AppProyecto1/css/styles.css' %}" rel="stylesheet" />
        

    </head>
    <body>
        
        <!-- Responsive navbar-->

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                
                <!-- <a class="navbar-brand" href="#!">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button> -->
                {% if not request.user.is_authenticated %}
                <li class="nav-item"><a type="button" class="btn btn-info btn-sm" aria-current="page" href="{% url 'Login' %}">Iniciar sesión</a></li>
                <li class="nav-item"><a type="button" class="btn btn-info btn-sm" aria-current="page" href="{% url 'Register' %}">Registrarse</a></li>
                {% endif %}
                {% if request.user.is_authenticated %}
                <li class="nav-item"><a type="button" class="btn btn-info btn-sm" aria-current="page" href="{% url 'Logout' %}">Cerrar sesión</a></li>
                <li class="nav-item"><a type="button" class="btn btn-info btn-sm" aria-current="page" href="{% url 'VerPerfil' %}">Perfil</a></li>
                {% endif %}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <!-- <li class="nav-item"><a class="nav-link active" href="#">Home</a></li> -->
                        <li class="nav-item"><a class="nav-link" href="{% url 'Inicio' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'BlogList' %}">Blogs</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'TagList' %}">Etiquetas</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'About' %}">Acerca de...</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contacto</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://localhost:8000/admin/">Administración Django</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <!-- Page header with logo and tagline-->

        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Entrega Intermedia del Proyecto Final - Grupo 1</h1>
                    <p class="lead mb-0">Coderhouse - Python - Comisión 23855</p>
                </div>
            </div>
        </header>

        <!-- Contenido de la página: -->

        <div class="container">
            <div class="row">
                <div class="col-lg-8">
    
                    {% block contenidoQueCambia %}
        
                    {% endblock contenidoQueCambia %}

                </div>

                <!-- Sidebar-->

                <div class="col-lg-3">

                    <!-- Widget búsqueda-->
                    
                    <div class="card mb-4">
                        <div class="card-header">Búsqueda</div>
                        <div class="card-body">
                            <div class="input-group" method="GET" action="{% url 'BlogSearch' %}">
                                    <form class="input-group" method="GET" action="{% url 'BlogSearch' %}" >
                                        <input class="form-control" type="search" name="search" placeholder="Ingresar una búsqueda..."> 
                                        <button class="btn btn-primary" type="submit">Buscar</button>
                                    </form>
                            </div>
                        </div>
                    </div>

                    <!-- Widget Etiquetas -->

                    <div class="card mb-4">
                        <div class="card-header">Etiquetas</div>
                        <div class="card-body">
                            <!-- <div class="row"> -->

                                {% for tag in tags %}

                                <!-- <div class="col-sm-4" mb-2> -->
                                    <a class="btn btn-outline-info btn mb-3" href="{% url 'BlogTagLista' tag.id %}" role="button" text-nowrap>{{tag.name}}</a>
                                <!-- </div> -->

                                
                                {% endfor %}

                                <!-- {% for tag in blog.tag.all %} -->

                                <!-- <p>este es un tag: {{tag.name}}</p> -->

                                <!-- {% endfor %} -->

                            <!-- </div> -->
                        </div>
                    </div>
                    <!-- Side widget-->

                    <div class="card mb-4">
                        <div class="card-header">Side Widget</div>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                    </div>
                </div>
            </div>
        </div>
        


        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">&copy; Comisión 23855 - Grupo 1</p></div>
        </footer>

        <!-- Importacion JQuery -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

        <!-- Importacion Popper.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        
        <!-- Bootstrap core JS-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'AppProyecto1/js/scripts.js' %}"></script>

        <!-- Bootstrap Core JS original: da errores -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> -->

</body>
</html>

    </body>
</html>
