{% extends 'AppProyecto1/padre.html' %}
{% load static %}
    
{% block contenidoQueCambia %}
    <p>Contenido particular de showBlog</p>

{% for tag in tags %}

<div class="row">
        <div class="col-lg-3">

            <div class="card mb-4">
                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                <div class="card-body">
                    <!-- <div class="small text-muted">January 1, 2021</div> -->
                    <div class="small text-muted">Etiquetas: {{ tag.name }}</div>
                    <h2 class="card-title h4">Post Title: {{ blog.title }}</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                    <a class="btn btn-primary" href="#!">Read more →</a>
                </div>
            </div>
        </div>
    </div>
            
    <!-- {{ blog.title }} -->
    
{% endfor %}

{% endblock contenidoQueCambia %}