{% extends 'AppProyecto1/padre.html' %}
{% load static %}
    
{% block contenidoQueCambia %}

<div class="container">
    <div class="row">
        <div class="col-lg-3">   

    <h1>{{ blog.title }}:</h>
    <h4>{{ blog.subtitle}} </h4>
    <p>{{ blog.body }}</p>

    <p><b>Comentarios del blog:</b></p>
    {% if comments %}
        {% for comment in comments %}
            <i>{{ comment.text}}</i><br>
        {% endfor %}
    {% else %}
        <p><i>(No hay comentarios para este blog)</i></p>
        
    {% endif %}

    <br><p><b>Etiquetas del blog:</b></p>
    {% if tags %}    
        {% for tag in tags %}
        <p style="color:red">{{ tag.name}}</p><br>
        {% endfor %}
    {% else %}
        <p>(No hay etiquetas para este blog)</p>
    
    {% endif %}

        </div>
    </div>
</div>
    
{% endblock contenidoQueCambia %}