{% extends 'AppProyecto1/padre.html' %}
{% load static %}
    
{% block contenidoQueCambia %}
    <h1>{{ blog.title }}:</h>
    <h4>{{ blog.subtitle}} </h4>
    <p>{{ blog.body }}</p>

    <p><b>Comentarios del blog:</b></p>
    {% if comments %}
        {% for comment in comments %}
            {{ comment.text}}<br>
        {% endfor %}
    {% else %}
        <p>(No hay comentarios para este blog)</p>
        
    {% endif %}

    <p><b>Etiquetas del blog:</b></p>
    {% if tags %}    
        {% for tag in tags %}
            {{ tag.name}}<br>
        {% endfor %}
    {% else %}
        <p>(No hay etiquetas para este blog)</p>
    
    {% endif %}
    
{% endblock contenidoQueCambia %}