{% extends 'AppProyecto1/padre.html' %}
{% load static %}
{% load group %}
{% block contenidoQueCambia %}

<div class="container">
    <div class="row">
        {% if user|has_group:'Admin' %}
        <a class="btn btn-info btn-lg btn-block mb-4" href="{% url 'TagNew' %}">Crear una etiqueta nueva</a>
        {% endif %}

        {% for tag in object_list %}

        <div class="col-4 mb-1">
            <div class="card mb-3">
                <div class="card-body">
                    <p></p>
                    <div class="dropdown show">

                        <a class="btn btn-outline-info btn-xl mb-3" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{tag.name}}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'BlogTagLista' tag.id %}">Ver publicaciones con esta etiqueta</a>
                            <div class="dropdown-divider"></div>
                            {% if user|has_group:'Admin' %}
                                <a class="dropdown-item" href="{% url 'TagDelete' tag.id %}">Eliminar</a>
                            {% else %}
                                <a class="dropdown-item">(Para editar necesitas tener permisos de administrador)</a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
                        
    </div>
</div>


{% endblock contenidoQueCambia %}
