{% extends 'AppProyecto1/padre.html' %}
{% load static %}
{% load group %}
{% block contenidoQueCambia %}

<h1>Esta es la lista de Tag Publicados</h1>

<ul>

    {% for tag in object_list %}
    
        <li>        
            <a href="{% url 'BlogTagLista' tag.id %}">{{tag.name}}</p>
            {% if user|has_group:'Admin' %}
                <a href="{% url 'TagDelete' tag.id %}">borrar</a>
            {% endif %}
        </li>
    {% endfor %}

</ul>

{% if user|has_group:'Admin' %}
    <a href="{% url 'TagNew' %}">Crear Tag</a>
{% endif %}

{% endblock contenidoQueCambia %}