<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>
</head>
<body>
    <!-- El comment llamado aqui es el de la base de datos que nos trajimos con el get en views-->
    <!-- Se llama a comment.blog que tiene el objeto blog, y de ese blog se llama al titulo-->
    <p>{{ comment.blog.title }}</p>
    <p>{{ comment.text }}</p>

</body>
</html>